.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

.carousel-container {
    display: flex;
    align-items: center;
    padding-left: 90px;
}

#productCarousel {
    width: 100%;
    max-width: 550px;
    height: 380px;
    overflow: hidden;
    border-radius: 20px;
}

.carousel-inner img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.col-md-6.d-flex.align-items-center {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем содержимое */
    justify-content: flex-start; /* Начинаем с верха */
    height: 100%; /* Растягиваем по высоте */
}

    .col-md-6.d-flex.align-items-center > div {
        width: 500px;
        
    }

.list-group {
    width: 500px;
    max-height: 250px; /* Уменьшаем, чтобы заголовок не сдвигался */
    overflow-y: auto; /* Прокрутка при необходимости */
    margin-top: 10px; /* Отступ от заголовка */
    padding-right: 10px;
}



.home-body-container {
    margin-top: 20px;
}

.text-container {
    margin-top: 20px;
    font-size: 20px;
    text-align: justify;
    padding: 0 15px;
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
}

/* Медиа-запросы для адаптивности */
/* Медиа-запросы для адаптивности */
@media (max-width: 1200px) {
    #productCarousel {
        height: 400px;
        margin-bottom: 30px;
        margin-left: -45px;
    }

    .carousel-inner img {
        height: 400px;
    }

    .list-group {
        width: 100%;
        margin-left: 20px;
        margin-bottom: -130px;
        margin-top: 20px;
    }

    .text-container {
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    #productCarousel {
        height: 350px;
        margin-bottom: 30px;
        margin-left: -45px;
    }

    .carousel-inner img {
        height: 350px;
    }

    .list-group {
        width: 100%;
        margin-left: 20px;
        margin-bottom: -130px;
        margin-top: 20px;
    }

    .text-container {
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    #productCarousel {
        height: 300px;
        margin-bottom: 30px;
        margin-left: -45px;
    }

    .carousel-inner img {
        height: 300px;
    }

    .list-group {
        width: 100%;
        margin-left: 20px;
        margin-bottom: -130px;
        margin-top: 20px;
    }

    .text-container {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    #productCarousel {
        height: 300px;
        margin-bottom: 30px;
        margin-left: -45px;
    }

    .carousel-inner img {
        height: 300px;
    }

    .list-group {
        width: 100%;
        margin-left: 20px;
        margin-bottom: -130px;
        margin-top: 20px;
    }

    .text-container {
        font-size: 16px;
    }
}
