@{
    ViewData["Title"] = "Kontakty";
}

<link rel="stylesheet" href="~/css/kontakty.css" asp-append-version="true" />

<section id="content">
    <div class="inner-content">
        <div class="container">

            <h1 class="page-title" style="margin-top:20px; margin-bottom:20px; text-align:center;">Kontakty</h1>
            <p>Líbí se Vám naše výrobky, chcete se nás na něco zeptat či nám něco sdělit?</p>
            <p><strong>Napište nám.</strong>&nbsp;Všechny činnosti provádí naši proškolení&nbsp;<strong>profesionálové</strong>. Pracujeme&nbsp;<strong>rychle, přesně a bez zbytečných nákladů</strong>&nbsp;na Vaší straně.</p>
            <p>S důvěrou se na nás obraťte. Ochotně odpovíme na Vaše dotazy a připravíme cenovou nabídku k vybranému produktu. Neváhejte a volejte, pište na e-mail nebo použijte kontaktní formulář níže.</p>

            <div class="row">
                <div class="col-sm-6">
                    <h2>IMAGO D&amp;T, s.r.o.</h2>

                    <ul class="adresa">
                        <li><strong>Jaroslava Medvecová</strong></li>
                        <li>Mandysova 1410/26</li>
                        <li><span>500 12 &nbsp;</span>&nbsp;<span>Hradec Králové 12</span></li>
                    </ul>

                    <ul>
                        <li><strong>Telefon:</strong>&nbsp;<span>work</span>&nbsp;<span>+420 602 411 872</span></li>
                        <li><strong>Mobil:</strong>&nbsp;<span>cell</span>&nbsp;<span>+420 777 182 900</span></li>
                        <li><strong>E-mail:</strong>&nbsp;<span><a href="mailto:imagodt@imagodt.cz">imagodt@imagodt.cz</a></span></li>
                        <li><strong>IČ:</strong>&nbsp;<span>26000245</span></li>
                        <li><strong>DIČ:</strong>&nbsp;<span>CZ26000245</span></li>
                    </ul>

                    <p style="font-size: 18px;">Společnost je vedená u Krajského soudu v Hradci Králové, spisová značka C 19251</p>

                    <h3 style="margin-bottom:20px;">Provozovna</h3>

                    <h4>Biorezonanční centrum - Diacom</h4>

                    <ul>
                        <li>Vladimír Burčík -&nbsp;odpovědný vedoucí, hlavní školitel a specialista</li>
                        <li>Gebauerova 1024/2</li>
                        <li>500 02 Hradec Králové 2</li>
                        <li><strong>Mobil:</strong>&nbsp;+420 603 554 483</li>
                        <li><strong>E-mail:</strong>&nbsp;<a href="mailto:vladimirburcik@imagodt.cz">vladimirburcik@imagodt.cz</a></li>
                    </ul>
                </div>

                <div class="col-sm-6">
                    <h2 style="text-align:center; margin-bottom: 20px;">Mapa provozovny</h2>
                    <iframe allowfullscreen="" height="490" style="border-radius:20px;" loading="lazy" referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2493.802326983907!2d15.816349615722485!3d50.20500587944222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470c2b39e4d36f61%3A0xcc4fab6d3cf72e50!2zR2ViYXVlcm92YSAxMDI0LzIsIFByYcW-c2vDqSBQxZllZG3Em3N0w60sIDUwMCAwMiBIcmFkZWMgS3LDoWxvdsOp!5e1!3m2!1scs!2scz!4v1666098194609!5m2!1scs!2scz" style="border:0;" width="100%"></iframe>
                </div>
            </div>

            <h2 style="margin-top:20px; margin-bottom:30px; text-align:center;">Kontaktní osoby</h2>

            <div class="row">
                <div class="col-sm-4">
                    <h3>Jaroslava Medvecová</h3>
                    <b>Jednatelka</b>

                    <ul>
                        <li><strong>Mobil:</strong>&nbsp;<span>+420 777 182 900</span></li>
                        <li><strong>E-mail:</strong>&nbsp;<span><a href="mailto:imagodt@imagodt.cz">imagodt@imagodt.cz</a></span></li>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <h3>Ing. Dušan Medvec</h3>
                    <b>Jednatel, marketing a prodej</b>

                    <ul>
                        <li><strong>Mobil:</strong>&nbsp;<span>+420 602 411 872</span></li>
                        <li><strong>E-mail:</strong>&nbsp;<span><a href="mailto:d.medvec@tiscali.cz">d.medvec@tiscali.cz</a></span></li>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <h3>Jana Macková</h3>
                    <b>Specialista prodeje</b>

                    <ul>
                        <li><strong>Mobil:</strong>&nbsp;<span>+420 777 900 412</span></li>
                        <li><strong>E-mail:</strong>&nbsp;<span><a href="mailto:jana.mackova@imagodt.cz">jana.medvecova@centrum.cz</a></span></li>
                    </ul>
                </div>
            </div>

            <h2 style="margin-top:20px; margin-bottom:30px; text-align:center;">Spolupracujeme</h2>

            <div class="row">
                <div class="col-sm-4">
                    <h3>Spolupráce v Čechách</h3>

                    <p>
                        <strong>Spolupracovník IMAGO D&amp;T,s.r.o.</strong><br>
                        <strong>Vladimír Burčík - hlavní školitel</strong>
                    </p>

                    <p>
                        P.O.BOX č.20, 500 12 Hradec Králové<br>
                        Česká republika
                    </p>

                    <ul>
                        <li><b>Telefon:</b>&nbsp;+420 603 554 483</li>
                        <li><b>E-mail: &nbsp;</b><a href="mailto:burcik@centrum.cz">burcik@centrum.cz</a></li>
                        <li><b>IČO:</b>&nbsp;&nbsp;13207440</li>
                        <li><b>Mapa:</b>&nbsp;<a href="https://maps.google.com/maps?q=Hradec+Kr%C3%A1lov%C3%A9,+%C4%8Cesk%C3%A1+republika&amp;hl=cs&amp;ie=UTF8&amp;sll=49.797096,18.371494&amp;sspn=0.083105,0.181789&amp;oq=hradec+&amp;hnear=Hradec+Kr%C3%A1lov%C3%A9,+%C4%8Cesk%C3%A1+republika&amp;t=m&amp;z=12" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(162, 33, 112); text-decoration-line: none;" title="Ukázat na mapě">Ukázat na mapě</a></li>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <h3>Spolupráce v Čechách</h3>

                    <p>
                        <strong>Obchodně školící servisní centrum&nbsp;</strong><br>
                        <strong>MUDr. Jan Štěpán</strong>
                    </p>

                    <p>
                        Jiráskova 1320, 29301 Mladá Boleslav<br>
                        Česká republika
                    </p>

                    <ul>
                        <li><b>Telefon:</b>&nbsp;+421 903 653 002</li>
                        <li><b>E-mail:</b>&nbsp;<a href="mailto:janxstepan@gmail.com">janxstepan@gmail.com</a></li>
                        <li><b>IČO:</b>&nbsp; &nbsp;73616737</li>
                        <li><b>Mapa:</b>&nbsp;<a href="https://maps.google.com/maps?q=Jir%C3%A1skova+1320,+Mlad%C3%A1+Boleslav,+29301&amp;hl=cs&amp;ie=UTF8&amp;sll=48.144265,17.096143&amp;sspn=0.010738,0.022724&amp;hnear=Jir%C3%A1skova+1320,+293+01+Mlad%C3%A1+Boleslav,+%C4%8Cesk%C3%A1+republika&amp;t=m&amp;z=16" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(162, 33, 112); text-decoration-line: none;" title="Ukázat na mapě">Ukázat na mapě</a></li>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <h3>Spolupráce v Čechách</h3>

                    <p>
                        <strong>Obchodně školící servisní centrum</strong><br>
                        <strong>Miriam a Peter Bobošíkovi</strong>
                    </p>

                    <p>
                        U Statku 301/1, 736 01 Havířov<br>
                        Česká republika
                    </p>

                    <ul>
                        <li><b>Telefon:</b>&nbsp;+420 774 878 148</li>
                        <li><b>E-mail:</b>&nbsp;<a href="mailto:petobobo@seznam.cz">petobobo@seznam.cz</a></li>
                        <li><b>IČO:</b>&nbsp; &nbsp;09 54 558</li>
                        <li><b>Mapa:</b>&nbsp;<a href="https://maps.google.com/maps?q=U+Statku+301%2F1+Hav%C3%AD%C5%99ov+-+Bludovice+736+01&amp;hl=cs&amp;ie=UTF8&amp;sll=50.077136,14.503183&amp;sspn=0.010328,0.022724&amp;hnear=U+Statku+301%2F1,+736+01+Hav%C3%AD%C5%99ov,+%C4%8Cesk%C3%A1+republika&amp;t=m&amp;z=16" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(162, 33, 112); text-decoration-line: none;" title="Ukázat na mapě">Ukázat na mapě</a></li>
                    </ul>
                </div>
            </div>

            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                <div class="col-sm-4">
                    <h3>Spolupráce na Slovensku</h3>

                    <p>
                        <strong>Obchodně školící servisní centrum</strong><br>
                        <strong>Dr.Am Mirka Fedorčáková</strong>
                    </p>

                    <p>
                        Hlavná 33, 080 01 Prešov<br>
                        Slovensko
                    </p>

                    <ul>
                        <li><b>Telefon:</b>&nbsp;+421 905 980 486</li>
                        <li><b>E-mail:</b>&nbsp;<a href="mailto:drcaura@gmail.com">drcaura@gmail.com</a></li>
                        <li><b>IČO:</b>&nbsp; &nbsp; 44227701</li>
                        <li><b>Mapa:</b>&nbsp;<a href="https://maps.google.com/maps?q=Hlavn%C3%A1+33+080+01+Pre%C5%A1ov&amp;hl=cs&amp;ie=UTF8&amp;sll=48.294286,18.074076&amp;sspn=0.005353,0.011362&amp;hnear=Hlavn%C3%A1+2887%2F33,+080+01+Pre%C5%A1ov,+Slovensko&amp;t=m&amp;z=16" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(162, 33, 112); text-decoration-line: none;" title="Ukázat na mapě">Ukázat na mapě</a></li>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <h3>Spolupráce na Slovensku</h3>

                    <p><strong>Mgr. art. Valerián Tokár</strong></p>
                    <p>
                        Smetanova 8, 811 03 Bratislava<br>
                        Slovensko
                    </p>

                    <ul style="padding-top:25px;">
                        <li><b>Telefon:</b>&nbsp;+421 903 919 714</li>
                        <li><b>E-mail:</b>&nbsp;<a href="mailto:valerian.tokar@gmail.com">valerian.tokar@gmail.com</a></li>
                        <li><b>IČO:</b>&nbsp; &nbsp; 40252345</li>
                        <li><b>Mapa:</b>&nbsp;<a href="https://maps.google.com/maps?q=Smetanova+8+811+03+Bratislava&amp;hl=cs&amp;sll=48.429465,17.54583&amp;sspn=0.085428,0.181789&amp;hnear=Smetanova+8,+811+03+Bratislava,+Slovensko&amp;t=m&amp;z=16" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(162, 33, 112); text-decoration-line: none;" title="Ukázat na mapě">Ukázat na mapě</a></li>
                    </ul>
                </div>

                <div class="col-sm-4">
                    <h3>Spolupráce na Slovensku</h3>

                    <p>
                        <strong>DISTRIBUTOR pro anglicky mluvící země</strong>
                    </p>

                    <p><strong>Mgr. Marko Semes, M.B.A.</strong></p>

                    <p>
                        P.O. Box 63, 85000 Bratislava 5, Slovensko
                    </p>

                    <ul style="padding-top:7px;">
                        <li><b>E-mail:</b>&nbsp;<a href="mailto:semes.marko@gmail.com">semes.marko@gmail.com</a></li>
                        <li><strong>Tel:</strong>&nbsp;+421918607818</li>
                        <li><b>Skype:</b><span>&nbsp;&nbsp;Marko Semeš</span></li>
                        <li><span>Mapa:</span>&nbsp;<a href="https://web.archive.org/web/20210516233809im_/http://www.imagodt.cz/kontakt" style="margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; color: rgb(162, 33, 112); text-decoration-line: none;" title="Ukázat na mapě">Ukázat na mapě</a></li>
                    </ul>
                </div>
            </div>

            <div class="container-contact">
                <div class="contact-form">
                    <h2 class="form-title">Napište nám</h2>

                    <form id="contactForm" novalidate>
                        <div class="alert alert-info">
                            Pole označená <span class="star">*</span> jsou povinná.
                        </div>

                        <div class="form-row">
                            <label for="frm-contactForm-name">Kontaktní osoba <span class="star">*</span></label>
                            <input type="text" name="name" id="frm-contactForm-name" class="form-control" required>
                            <span class="error-message" id="name-error"></span>
                        </div>

                        <div class="form-row">
                            <label for="frm-contactForm-email">E-mailová adresa <span class="star">*</span></label>
                            <input type="email" name="email" id="frm-contactForm-email" class="form-control" required>
                            <span class="error-message" id="email-error"></span>
                        </div>

                        <div class="form-row">
                            <label for="frm-contactForm-subject">Předmět</label>
                            <input type="text" name="subject" id="frm-contactForm-subject" class="form-control">
                        </div>

                        <div class="form-row">
                            <label for="frm-contactForm-text">Zpráva <span class="star">*</span></label>
                            <textarea name="text" id="frm-contactForm-text" class="form-control" required></textarea>
                            <span class="error-message" id="text-error"></span>
                        </div>

                        <div class="form-row form-submit">
                            <button type="submit" class="btn-contact">Odeslat</button>
                        </div>
                    </form>
                </div>
            </div>

            <script>
                    document.getElementById('contactForm').addEventListener('submit', function(event) {event.preventDefault();

                    // Очистка предыдущих ошибок
                    document.querySelectorAll('.error-message').forEach(el => el.textContent = '');
                    document.querySelectorAll('.is-invalid').forEach(el => el.classList.remove('is-invalid'));

                    // Проверка полей
                    const name = document.getElementById('frm-contactForm-name').value.trim();
                    const email = document.getElementById('frm-contactForm-email').value.trim();
                    const text = document.getElementById('frm-contactForm-text').value.trim();
                    let isValid = true;

                    // Проверка имени
                    if (!name) {
                        document.getElementById('name-error').textContent = 'Kontaktní osoba je povinná.';
                        document.getElementById('frm-contactForm-name').classList.add('is-invalid');
                        isValid = false;
                    }

                    // Проверка email
                    const emailRegex = new RegExp('^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$');
                    if (!email) {
                        document.getElementById('email-error').textContent = 'E-mailová adresa je povinná.';
                        document.getElementById('frm-contactForm-email').classList.add('is-invalid');
                        isValid = false;
                    } else if (!emailRegex.test(email)) {
                        document.getElementById('email-error').textContent = 'Zadejte platnou e-mailovou adresu.';
                        document.getElementById('frm-contactForm-email').classList.add('is-invalid');
                        isValid = false;
                    }

                    // Проверка текста сообщения
                    if (!text) {
                        document.getElementById('text-error').textContent = 'Zpráva je povinná.';
                        document.getElementById('frm-contactForm-text').classList.add('is-invalid');
                        isValid = false;
                    }

                    if (!isValid) {
                        return;
                    }

                    const formData = new FormData(this);

                    fetch('/Contact/SendEmail', {
                        method: 'POST',
                        body: formData
                    })
                    .then(response => response.text())
                    .then(result => {
                        if (result === "true") {
                            showTopNotification('success', 'Úspěch!', 'Vaše zpráva byla úspěšně odeslána!');
                            this.reset();
                        } else {
                            showTopNotification('error', 'Chyba', 'Nastala chyba při odesílání zprávy.');
                        }
                    })
                    .catch(error => {
                        showTopNotification('error', 'Chyba', 'Nastala neočekávaná chyba: ' + error.message);
                    });
                });

                // Функция для показа уведомлений
                function showTopNotification(type, title, message) {
                    const notification = document.createElement('div');
                    notification.className = `notification ${type}`;
                    notification.innerHTML = `

                        <div class="notification-content">
                            <div class="notification-title">${title}</div>
                            <div class="notification-message">${message}</div>
                        </div>
                        <div class="notification-progress"></div>
                    `;

                    document.body.appendChild(notification);

                    // Анимация появления
                    setTimeout(() => notification.classList.add('show'), 10);

                    // Автоматическое закрытие через 5 секунд
                    const timer = setTimeout(() => {
                        closeNotification();
                    }, 6500);

                    // // Закрытие по клику на крестик
                    // notification.querySelector('.notification-close').addEventListener('click', closeNotification);

                    // Закрытие при клике в любом месте уведомления
                    notification.addEventListener('click', (e) => {
                        if (e.target === notification) {
                            closeNotification();
                        }
                    });

                    function closeNotification() {
                        clearTimeout(timer);
                        notification.classList.remove('show');
                        setTimeout(() => {
                            notification.remove();
                        }, 300);
                    }
                }
            </script>
        </div>
    </div>
</section>