<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<!-- Project defines -->
	<?define ProductUpgradeCode="ce94df53-0e8e-4909-8137-cb8e788c63b7"?>
	<?define ProductLanguage=1033?>
	<?define ProductName="ImagoAdmin"?>
	<?define ProductManufacturer="ImagoDT s.r.o"?>
	<?define InfoURL="http://test.imagodt.cz/"?>
	<?define Icon="../ImagoAdmin/bin/Release/net6.0-windows/favicon.ico"?>
	<?define PublishDir="../ImagoAdmin/bin/Release/net6.0-windows/"?>
	<?define WebView2InstallerPath="MicrosoftEdgeWebView2RuntimeInstallerX64.exe"?>

	<Package Name="ImagoInstaller" Language="1033" Version="1.0.0.0"
             Manufacturer="$(var.ProductManufacturer)" UpgradeCode="$(var.ProductUpgradeCode)"
             InstallerVersion="400">
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
		<MediaTemplate EmbedCab="yes" CompressionLevel="high"/>

		<!-- Проверка наличия WebView2 -->
		<Property Id="WEBVIEW2INSTALLED">
			<RegistrySearch Id="WebView2Installed"
                         Root="HKLM"
                         Key="SOFTWARE\WOW6432Node\Microsoft\EdgeUpdate\Clients\{F3017226-FE2A-4295-8BDF-00C3A9A7E4C5}"
                         Name="pv"
                         Type="raw" />
		</Property>

		<Feature Id="ProductFeature" Title="Imago admin" Level="1">
			<ComponentGroupRef Id="ApplicationComponents"/>
			<ComponentRef Id="DesktopShortcutComponent" />
			<ComponentRef Id="StartMenuShortcutComponent" />
			<ComponentRef Id="WebView2InstallerComponent" />
		</Feature>

		<Icon Id="icon.exe" SourceFile="$(var.Icon)"/>
		<Property Id="ARPPRODUCTICON" Value="icon.exe"/>
		<Property Id="ARPNOREPAIR" Value="yes" Secure="yes"/>
		<Property Id="ARPNOMODIFY" Value="yes" Secure="yes"/>
		<Property Id="ARPHELPLINK" Value="$(var.InfoURL)"/>
	</Package>

	<Fragment>
		<!-- Основные директории -->
		<StandardDirectory Id="ProgramFiles64Folder">
			<Directory Id="INSTALLFOLDER" Name="$(var.ProductName)"/>
		</StandardDirectory>

		<!-- Директория для меню Пуск -->
		<StandardDirectory Id="ProgramMenuFolder">
			<Directory Id="ProgramMenuDir" Name="$(var.ProductName)"/>
		</StandardDirectory>

		<!-- Директория рабочего стола -->
		<StandardDirectory Id="DesktopFolder"/>
	</Fragment>

	<Fragment>
		<!-- Компонент с установщиком WebView2 -->
		<Component Id="WebView2InstallerComponent" Directory="TARGETDIR" Guid="5BDB9806-4D33-4903-BE9E-886AD6BBF4DF">
			<File Id="WebView2SetupExe" Source="$(var.WebView2InstallerPath)" KeyPath="yes"/>
		</Component>

		<!-- Кастомное действие для установки WebView2 -->
		<CustomAction Id="InstallWebView2"
				FileRef="WebView2SetupExe"
				ExeCommand="/silent /install"
				Execute="deferred"
				Return="check"
				Impersonate="no"/>

		<InstallExecuteSequence>
			<Custom Action="InstallWebView2" After="InstallFiles"></Custom>
		</InstallExecuteSequence>
	</Fragment>

	<Fragment>
		<!-- Ярлык на рабочем столе -->
		<Component Id="DesktopShortcutComponent" Directory="DesktopFolder" Guid="*">
			<Shortcut Id="DesktopShortcut"
                     Name="$(var.ProductName)"
                     Description="$(var.ProductName)"
                     Target="[INSTALLFOLDER]ImagoAdmin.exe"
                     WorkingDirectory="INSTALLFOLDER"
                     Icon="icon.exe"/>
			<RegistryValue Root="HKCU" Key="Software\$(var.ProductManufacturer)\$(var.ProductName)"
                          Name="DesktopShortcutInstalled" Type="integer" Value="1" KeyPath="yes"/>
		</Component>

		<!-- Ярлык в меню Пуск -->
		<Component Id="StartMenuShortcutComponent" Directory="ProgramMenuDir" Guid="*">
			<Shortcut Id="StartMenuShortcut"
                     Name="$(var.ProductName)"
                     Description="$(var.ProductName)"
                     Target="[INSTALLFOLDER]ImagoAdmin.exe"
                     WorkingDirectory="INSTALLFOLDER"
                     Icon="icon.exe"/>
			<RemoveFolder Id="RemoveProgramMenuDir" Directory="ProgramMenuDir" On="uninstall"/>
			<RegistryValue Root="HKCU" Key="Software\$(var.ProductManufacturer)\$(var.ProductName)"
                          Name="StartMenuShortcutInstalled" Type="integer" Value="1" KeyPath="yes"/>
		</Component>
	</Fragment>
</Wix>